<!-- templates/home.html -->
<!-- This is the template. It needs to be in the templates folder so that my app can access it. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cooler Contexto Template</title>
</head>
<body>
    <h1> 
        CoolTexto!!! (template). secret word: {{word}}
    </h1>
    <p>
<form name="myForm" action="/guess" method="POST">
<label for="guess"> Guess</label>
<input type="text" id="guess" name = "guess" placeholder="Type ur guess!">
</form> 
    </p>

<p id="guessResponse">Js testing button below</p>

<input id="guess2" placeholder="Type ur guess!">

<button type="button" onclick="myFunction()">Try guess (raw js)</button>

<script>
function myFunction() {
  let guess = document.getElementById("guess2").value;
  let ret = "ur guess bad";
  if(guess =="bear" ){
    ret = "your guess is good"
  }
  document.getElementById("guessResponse").innerHTML = ret;
}
</script>
</body>
</html>    