  <!-- templates/home.html -->
  <!-- This is the template. It needs to be in the templates folder so that my app can access it. -->

  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
      <title>Cooler Contexto</title>
  </head>
  <script> 
    let api_url = 'http://localhost:8000/generate'; 
    fetch(api_url)
  </script> 

  <body>
  
  <div class="flex-container">
    <div>
      <h1>Cooltexto!!!! </h1>
    </div>
 
  <div>
  <form id="makeGuess">
    <input type="text" id="userGuess" placeholder="Type ur guess" required>
    <button type="submit">Guess!</button>
  </form>
</div>

  <div>
  <p id="result" class="guess_result">
    Make your first guess!
  </p>

</div>  
  <div>
    <h2>
      Guesses!
    </h2>

  </div>
  <div>
  <p id="past_rankings"></p>  
  </div>

  <div>
    <button type = "button" class="centerbuttons" onclick="revealWord()"> Reveal word</button>
    <p id="secret_word"></p>
  </div>
  <script>
    document.getElementById('makeGuess').addEventListener('submit', function(event) {
      event.preventDefault();  
      
      guessWord(document.getElementById("userGuess").value)
      }); 
  function revealWord(){
    let api_url = 'http://localhost:8000/reveal_word'; 
    fetch(api_url)
    .then(response => response.json())
    .then(data => {document.getElementById("secret_word").textContent = "Secret word: " + data.word})
  }

  async function guessWord(word){

      let api_url = 'http://localhost:8000/guess'; 
      fetch(api_url, {
          method: 'POST', //tells it its a post
            credentials: 'include',
          headers: {
          'Content-Type': 'application/json', //basically tells it yo im giving u a json give me back a json
          "Accept": "application/json"
          },
      body: JSON.stringify({ guess: word }) //turns it into json format
      })
      /*Callback: Fxn that is passed to another fxn to be executed whenever or upon specific event happenign
      Chaining is when 2 or more async operations back to back. Promise chain here.
      Each then() returns a new promise
      .then(function (result) {
      return doSomethingElse(result);
      }) is equivalent to .then((result) => doSomethingElse(result))
      Basically its saying that after function(result) runs doSomethingElse(result) will run
      Always return promises to track and "settle" (fulfilled/rejected [not pending]) promises in chain 
      Once settled, a fxn will be called depending on whether or not it had been fulfilled or rejected

      could also use await keyword instead of chaining a bunch of
      */ 
      .then(response => response.json())
      .then(data => {
        if (data.rank === "not found"){
          document.getElementById('result').textContent = word + " was not found!";

        }else if (data.rank == 0){
            document.getElementById('result').innerHTML=  
              `  <p>Congrats! ${word} was the secret word!</p> 
              <button type="button" class="centerbuttons" onclick="playAgain()">Play Again!</button>`
              //apparently fstring sare like this and so are multine stirnsg
        }else if(data.rank == "already guessed"){
          document.getElementById('result').textContent =  word + " was already tried!";
        }else{ 
            document.getElementById('result').textContent = word + " was " + data.rank + " away from target!";
        }
        }).then(whatever => {
        fetch('http://localhost:8000/get_previous_guesses').then(response => response.json()).then(jsonned => {
        let prevguesses=jsonned.previous_guesses 
        // previous guesses should be an array
        let newList = "<ol>"
        for(let i = 0; i <prevguesses.length; i++ ){
          newList += "<li>" + prevguesses[i][0] + " which is rank " + prevguesses[i][1]+ "</li> \n" //i know this is terrible but im honestly done fighting html and js
        }
        newList += "</ol>"
        document.getElementById('past_rankings').innerHTML = newList;
    })}
      ).catch(error => console.error('Error:', error));
 
      }
 
  function playAgain(){
    let api_url = 'http://localhost:8000/generate'; 
    fetch(api_url)
    document.getElementById("past_rankings").innerHTML = "";
    document.getElementById("result").innerHTML = "New game loaded! Make your first guess!";
    document.getElementById("secret_word").innerHTML = "";
  }
  </script>  
  </div>
  </body>
  </html>    